@import './modules/reset';

@import './modules/colors';
@import './modules/all';
@import './partials/base';
@import './partials/footer';
@import './partials/header';
@import './partials/popUp';
@import './partials/keyframes';
