body {
  // background: rgb(255, 255, 255, 0.2);
  background: url("../images/background.jpg");
  transition: 3s;
  display: flex;
  font-family: "Manrope", sans-serif;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
}
#app {
  width: 100vw;
  max-width: 1920px;
}
